
html{

    height: 100%;

    font-size: 62.5%;
}


body{


    min-height: 100%;

    display: flex;

    flex-direction: column;

overflow-y: scroll;
overflow-x: hidden;
}












.footer{
margin-top: auto;
   width: 100%; text-align: center; background-color: #8D918D;
}





*{

    padding: 0;

    margin: 0;

    
}

.box{

    margin-top: 10rem;

    padding: 4rem;

    font-size: 2rem;

    background-color: burlywood;
}



@media screen and ( max-width:500px) {

    html{

        font-size: 50%;
    }

   @media screen and (max-width:300px) {

    html{

        font-size: 40%;
    }

    
   }
    
}



nav{


    background-color: #454545;

    height: 80px;

    width: 100%;
}


nav ul{

    float: right;
    margin-right: 20px;
}

nav ul li{


    display: inline-block;

    line-height: 80px;

    margin: 0 5px;
}


nav ul li a{

    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7 16px;
    border-radius: 3;
    text-decoration: none
}

.at a:hover{

background-color: red;

   border: black solid 3px;

   border-radius: 10pt;

   padding: 4pt;

   transition: background  0.5s;

   transition: padding 0.8s;
}

.checkbtn{

    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width:952px){

    label.img{
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px ){

    .checkbtn{

        display: block;
    }

    ul{

        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #454545;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{

        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{

        font-size: 20px;
    }

    a:hover,a.active{

        background: none;
        color: white;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
}
